<!DOCTYPE html>
<html>
  <% include partials/template/head.ejs %>

  <body>
    <% include partials/template/header.ejs %>

    <div class="col-md-12">content</div>

    <% include partials/template/jsDefaults.ejs %>
  </body>
</html>
